<style type="text/css">
body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
	overflow: scroll;
}
div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#334;
	padding:20px;

}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#334;
	padding:15px;
}
textarea#textareaHeader{
	position:fixed;
	top:80px;
	left:300px;
}
textarea#textareaHeader1{
	position:fixed;
	top:80px;
	left:700px;
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:white url(Magnifier.png) left center no-repeat;
}
div#content{
	position: absolute;
	top:150px;

}
div#leftDiv{
	width:100px;
	display:inline-block;
	position: relative;
	left:250px;
	border:solid 2px black;
}
div#rightDiv{
	width:100px;
	display: inline-block;
	position: relative;
	top:20px;
	left:350px;
	border:solid 2px black;
}
p#submit{
	position: absolute;
	left:350px;
	top:300px;
}
#myAwesomeTable tr:nth-child(2n+1){
	background-color: #eee;
}

#myAwesomeTable{
	position: absolute;
	left:200px;
	top:100px;
	border:2px solid black;
	border-collapse:collapse;
}
#myAwesomeTable td{
	padding: 10px;
	border-right: 2px solid black;
	outline-width: 100%;
	white-space: nowrap;
}
#myAwesomeTable th{
	border-right:2px solid black;
	background-color: grey;
}

</style>




















